@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');
/* @font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
} */
body, input {
  color: #2f3640;
  background-color: #f9fcfb;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  margin-top: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  padding-top: 20px;
  display: flex;
  padding-left: 30%;
  padding-right: 30%;
}

.item {
  flex-grow: 1;
  height: 100px;
  text-align: center;
}

.item + .item {
  margin-left: 2%;
}


.main {
  position: absolute;
  width: 610px;
  left: 0;
  top: 0;
  padding: 45px 45px;
}

.main img {
  width: 100%;
  margin: 0 0 18px;
  border-radius: 12px;
}

.main .hero {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFEB3B 40%);
}

.stanford {
  color: #B1040E;
  font-weight: bold
}

.stanford:hover {
  color: #B1040E;
  text-decoration: underline;
}

.ssom {
  color: #4a69bd;
  font-weight: bold
}

.ssom:hover {
  text-decoration: underline;
}

.sds {
  color: #B1040E;
  font-weight: bold;
}

.sds:hover {
  text-decoration: underline;
}


.blend {
  color: #252B69;
  font-weight: bold
}

.blend:hover {
  color: #252B69;
  text-decoration: underline;
}

.msft {
  color: #F25022;
  font-weight: bold
}

.msft:hover {
  color: #F25022;
  text-decoration: underline;
}

.blockcypher {
  color: #652D90
}

.blockcypher:hover {
  color: #652D90;
  text-decoration: underline;
}

.pantera {
  color: #000000;
}

.pantera:hover {
  color: #000000;
  text-decoration: underline;
}

.ucsb {
  color: inherit
}

.ucsb:hover {
  color: #fff591
}

.dhs {
  color: inherit
}

.dhs:hover {
  color: #E62F57
}

.canary {
  color: inherit
}

.canary:hover {
  color:#f9fd50;
}

.asha {
  /* color: #FC427B; */
  color: #B33771;
  /* color: #2c3e50; */
  font-weight: bold
}

.asha:hover {
  text-decoration: underline;
}

.treehacks {
  /* color: #0D9071; */
  /* color: #1C413A; */
  color: #21CE99;
}

.treehacks:hover {
  color: #21CE99;
  text-decoration: underline;
}

.lnk {
  color: #1B9CFC;
  font-weight: bold;
}

.lnk:hover {
  text-decoration: underline;
}

.main .hero:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.main p:last-child {
  margin-bottom: -5px;
}

h1 {
  font-weight: bold;
  font-size: 34x;
  line-height: 24px;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 30%;
  padding-right: 20%;
  text-align: left;
}


h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  padding-top: 0;
  text-justify: left;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  padding-top: 0;
  text-justify: left;
  /* text-align: justify; */
  padding-left: 30%;
  padding-right: 30%;
}

ul {
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  padding-top: 0;
  /* text-justify: left; */
  text-align: justify;
  margin-left: 5%;
  padding-left: 17%;
  padding-right: 17%;
}

a {
  /* transition: all .2s ease-in-out; */
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: inherit
}

/* a:hover {
  color: #f0a500;
} */

@media screen and (max-width: 480px) {

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  h1 {
    padding-left: 15%;
    font-size: 6.5vw;
  }

  p {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 15px;
  }

  body {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

