@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body, input {
  color: rgb(73, 73, 73);
  background-color: #ffffff;
  font-family: 'Mukta', sans-serif;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#container {
  width:100%;
  text-align:center;
 }
 #container > div {
  width: calc(100% / 10);  
  display: inline-block;
  vertical-align: top;   
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-align:center;
  margin:2%;    
  padding:0px;
 }

.main {
  position: absolute;
  width: 610px;
  left: 0;
  top: 0;
  padding: 45px 45px;
}

.main img {
  width: 100%;
  margin: 0 0 18px;
  border-radius: 12px;
}

.main .hero {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFEB3B 40%);
}

.red-bold {
  color: #B1040E;
  font-weight: bold;
}

.red-bold:hover {
  background-color: #b1040e;
  font-weight: bold;
  color: #ffffff;
}

.blend-bold {
  color: #0F216B;
  font-weight: bold;
}

.blend-bold:hover {
  background-color: #0F216B;
  font-weight: bold;
  color: #ffffff;
}

.black-bold {
  color: #000000;
  font-weight: bold;
}

.purple-bold {
  color: #4E2271;
  font-weight: bold;
}

.purple-bold:hover {
  background-color: #4E2271;
  color: #ffffff;
  font-weight: bold;
}

.pantera-bold {
  color: #000000;
  font-weight: bold;
}

.pantera-bold:hover {
  background-color: #000000;;
  color: #ffffff;
  font-weight: bold;
}

.dhs-bold {
  color: #344A6B;
  font-weight: bold;
}

.dhs-bold:hover {
  color: #ffffff;
  background-color: #344A6B;
  font-weight: bold;
}

.link {
  color: #2462A0
}

.brown-bold {
  color: #F05125;
  font-weight: bold;
}

.brown-bold:hover {
  color: #ffffff;
  background-color: #F05125;
  font-weight: bold;
}

.green-bold {
  color: #27ae60;
  font-weight: bold;
}

.green-bold:hover {
  background-color: #27ae60;
  color: #ffffff;
  font-weight: bold;
}

.pink-bold {
  color: #E61C5D;
  font-weight: bold;
}

.pink-bold:hover {
  background-color: #E61C5D;
  color: #ffffff;
  font-weight: bold;
}

.main .hero:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.main p:last-child {
  margin-bottom: -5px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-top: 0;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  padding-top: 0;
  text-justify: left;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  padding-top: 0;
  /* text-justify: left; */
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
}

ul {
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  padding-top: 0;
  /* text-justify: left; */
  text-align: justify;
  margin-left: 5%;
  padding-left: 17%;
  padding-right: 17%;
}

a {
  /* transition: all .2s ease-in-out; */
  /* color: #076edf; */
  text-decoration: none;
  outline: none;
  color: inherit
}

@media screen and (max-width: 480px) {
  p {
  /* text-align: left !important; */
  padding-left: 10%;
  padding-right: 10%;
  }
  body {
    margin-top: 50px;
  }
}

